@import url(http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Arvo);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Theme Colors */
:root {
  --surface: #FFFCF7;
  --surface-dark: #FAF6ED;
  --text: #191919;
  --text-light: #525252;
  --text-lightest: #C2C2C2;
  --primary: #3E6259;
  --primary-light: #9BC0B7;
  --primary-dark: #273F39;
  --secondary: #1D3B72;
  --secondary-light: #4D7BD1;
  --secondary-dark: #0E1C36;
  --accent: #987D7C;
  --accent-dark: #725B5A;
  --danger: #92140C;
  --danger-light: #F7A6A1;
}

.mda-background {
  background-color: var(--surface);
}

.mda-page-content {
  padding-top: 72px;
  padding-left: 36px;
  padding-right: 36px;
}

.container-fluid {
  padding: 0;
}

.mda-body-text {
  color: var(--text);
  font-family: "Lato", sans-serif;
  font-weight: lighter;
}

.mda-h1 {
  color: var(--primary);
  font-family: "Arvo", sans-serif;
  font-weight: bolder;
  line-height: normal;
}

.mda-h3 {
  color: var(--secondary);
  font-family: "Arvo", sans-serif;
  line-height: normal;
  font-weight: bold;
}

.mda-link-text {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  color: var(--secondary)
}

.mda-link-text:hover {
  color: var(--secondary-light)
}

.mda-sticky-nav-bar {
  background-color: var(--primary-light);
  padding: 10px;
  font-family: "Arvo", sans-serif;
  color: var(--primary-dark);
  font-weight: bold;
  font-size: larger;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.mda-center-in-div {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
}

.mda-nav-bar-title {
  padding: 5px 0px;
  text-align: center;
}

/* FAB code adapted from http://materialdesignblog.com/creating-a-simple-material-design-action-button-with-css/ */

.fab {
  width: 70px;
  height: 70px;
  background-color: var(--secondary);
  border-radius: 50%;
  box-shadow: 0 6px 10px 0 #666;
  transition: all 0.1s ease-in-out;

  font-size: 36px;
  color: var(--surface);
  text-align: center;
  line-height: 50px;
  padding-top: 10px;
  font-family: "Arvo", sans-serif;

  position: fixed;
  right: 50px;
  bottom: 50px;
}

.fab:hover {
  box-shadow: 0 6px 14px 0 #666;
  transform: scale(1.05);
}

/* Widget Shape */
.mda-widget-window {
  background-color: var(--surface);
  padding: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.mda-dark-surface {
  background-color: var(--surface-dark);
}

.mda-widget-body {
  background-color: var(--surface-dark);
  padding: 25px 10px;
  vertical-align: top;
  border-style: ridge;
  border-width: thin;
  border-color: var(--text-lightest);
}

.form-group {
  margin-bottom: 0;
}

/* Tabs */
.nav-tabs {
  border-bottom: 0;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  background-color: var(--surface-dark);
  border-color: var(--text-lightest);
  border-bottom-color: transparent;
  color: var(--text);
  font-weight: bolder;
  font-family: "Lato", sans-serif;
}

.nav-link {
  color: var(--text-light);
  font-family: "Lato", sans-serif;
}

.nav-tabs a:hover {
  background-color: var(--surface-dark);
  color: var(--text);
  font-family: "Lato", sans-serif;
}

/* Pills */
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: var(--primary-light);
  font-family: "Lato", sans-serif;
}

.nav-pills a:hover {
  color: var(--secondary-dark);
  font-family: "Lato", sans-serif;
}

.pills-section-underlined {
  padding-top: 10px;
  padding-bottom: 5px;
  border-color: transparent;
  border-width: thin;
  border-style: solid;
  border-bottom-color: var(--text-lightest);
}

/* Side Bar */

.modules-list-group {
  padding-inline-start: 0;
}

.modules-list-group li {
  background-color: var(--surface);
  font-family: "Lato", sans-serif;
}

.modules-list-group li a {
  color: var(--text);
}

.modules-list-group li:hover {
  background-color: var(--primary-light);
  color: var(--text);
}

.list-group-item.active {
  z-index: 2;
  background-color: var(--primary);
  border-color: transparent;
  font-weight: bolder;
}

.list-group-item.active a {
  color: var(--surface);
}

.mda-padded-icon {
  padding-left: 10px;
  padding-right: 10px;
}

.mda-padding-vertical {
  padding-top: 10px;
}

.mda-clickable-icon {
  color: var(--primary)
}

.mda-clickable-icon:hover {
  color: var(--primary-light);
}

.mda-toggle-icon {
  color: var(--secondary)
}

.mda-toggle-icon:hover {
  color: var(--secondary-light)
}

.mda-btn {
  background-color: var(--secondary);
  color: var(--surface);
  font-family: "Lato", sans-serif;
}

.mda-btn:hover {
  color: var(--secondary-light)
}

input {
  font-family: "Lato", sans-serif;
}